<template>  
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cuadro de Mando</h1>
            </div>                
        </div>
                    
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-product-hunt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" title="Productos disponibles creados en la última semana">{{ products.length }}</div>
                                <div>Productos Nuevos</div>
                            </div>
                        </div>
                    </div>                        
                    <div>
                        <router-link :to="{ name: 'products.index'}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Productos (Todos)</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" title="Clientes activos creados en la última semana">{{ clients.length }}</div>
                                <div>Clientes Nuevos</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <router-link :to="{ name: 'clients.index'}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Clientes (Todos)</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </router-link>
                    </div> 
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>Pedidos Nuevos</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Pedidos (Todos)</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Facturas Nuevas</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Facturas (Todas)</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>                
        </div>                        
    </div>                
    

</template>

<script>
    import moment from 'moment'; 

    export default {         
        methods: {            
            async loadProductsAvailable() {                 
                const res = await axios.get('/api/products', {
                    params: {
                        createdAtFrom: moment(new Date()).subtract(7, 'd').format('YYYY-MM-DD'),
                        createdAtTo: moment(new Date()).format('YYYY-MM-DD'),
                        statusKey: 'available'
                    }
                });
                this.products = res.data;                
            }, 
            async loadClientsActive() {                 
                const res = await axios.get('/api/clients', {
                    params: {
                        createdAtFrom: moment(new Date()).subtract(7, 'd').format('YYYY-MM-DD'),
                        createdAtTo: moment(new Date()).format('YYYY-MM-DD'),
                        statusKey: 'active'
                    }
                });
                this.clients = res.data;                
            },
        },
        data() {
            return {
                products: [],
                clients: []
            }
        },               
        mounted() { 
            this.loadProductsAvailable();
            this.loadClientsActive();
        }
    };
</script>