<template>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a @click="loadControlPanel()" class="navbar-brand" href="#">Tienda</a>
        </div>                              

        <ul class="nav navbar-right navbar-top-links">                    
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Álvaro Camacho Lugo <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Desconectar</a>
                    </li>
                </ul>
            </li>
        </ul>    

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">                            
                    <li>
                        <router-link :to="{ name: 'products.index'}"><i class="fa fa-product-hunt fa-fw"></i> Productos</router-link>
                    </li>                            
                    <li>
                        <router-link :to="{ name: 'clients.index'}"><i class="fa fa-users fa-fw"></i> Clientes</router-link>
                    </li>                            
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        mounted() {            
            this.loadControlPanel();
        },
        methods: {
            loadControlPanel(){
                this.$router.push({ name: 'controlpanel.index' })
            }
        },
    }
</script>