<template>    
    <div class="container-fluid">            
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ref.: {{ product.reference }}</h1>
            </div>                
        </div>                                    
        
        <form @submit.prevent="saveProduct">
            <div class="row">                
                <ProductForm :product="product"></ProductForm>                
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar</button>
                    </div>                                    
                </div>
            </div>
        </form>
    </div>    
</template>

<script>
    import ProductForm from './form.vue';

    export default {          
        components: {
            ProductForm
        },
        data() {
            return {
                product: {}
            }
        },        
        methods: {
            saveProduct() {                                
                axios
                    .put(`/api/product/${this.$route.params.id}`, this.product).then(response => {
                        AlertMessage("", response.data.message).then((res) => {
                            if (response.data.success) {
                                this.$router.push({ name: 'products.index' });
                            }
                        }); 
                    })
                    .catch(err => console.log(err))
                    .finally(() => function () {});                                
            }
        },
        mounted() {            
            axios
                .get(`/api/product/${this.$route.params.id}`)
                .then((res) => {
                    this.product = res.data;
                });            
        }
    }
</script>