<template>
    <div class="panel panel-default">                        
        <div class="panel-body">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <label for="">Nombre</label>
                    <input name="name" id="name" class="form-control" v-model="product.name"> 
                </div>

                <div class="col-lg-6">
                    <label for="">Descripción</label>
                    <input name="description" id="description" class="form-control" v-model="product.description"> 
                </div> 

                <div class="col-lg-3">
                    <label for="">Precio</label>
                    <input name="amount" id="amount" class="form-control text-right" v-model="product.amount"> 
                </div>
            </div> 

            <div class="row mb-2">
                <div class="col-lg-3">
                    <label for="">Dimensiones</label>
                    <input name="dimensions" id="dimensions" class="form-control" v-model="product.dimensions"> 
                </div>
                
                <div class="col-lg-3">
                    <label for="">Peso</label>
                    <input name="weight" id="weight" class="form-control" v-model="product.weight"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Categoría</label> 
                    <select name="category_id" id="category_id" class="form-control" v-model="product.category_id">
                        <option value="">Seleccione una categoría</option>      
                        <option v-for="category in categories" v-bind:value="category.id" :selected="category.id == product.category_id">{{ category.description }}</option> 
                    </select>
                </div>

                <div class="col-lg-3">
                    <label for="">Estado</label>
                    <select name="status_id" id="status_id" class="form-control" v-model="product.status_id">
                        <option value="">Seleccione un estadp</option> 
                        <option v-for="status in statuses" v-bind:value="status.id" :selected="status.id == product.status_id">{{ status.description }}</option> 
                    </select> 
                </div>
            </div> 

            <div class="row mb-2">
                <div class="col-lg-12">
                    <label for="">Observaciones</label>                    
                    <textarea name="comments" id="comments" class="form-control" v-model="product.comments" rows="8"> </textarea>
                </div> 
            </div>
        </div>                    
    </div>
</template>

<script>
    export default {           
        props: [
            'product'
        ],     
        methods: {
            
        },        
        data() {
            return {
                categories: {},
                statuses: {}
            }
        }, 
        mounted() {
            axios
                .get(`/api/categories`)
                .then((res) => {
                    this.categories = res.data;
                });

            axios
                .get(`/api/statuses`, {
                    params: {
                        statusesKey: ['available', 'not_available']
                    }
                })
                .then((res) => {
                    this.statuses = res.data;
                });
        }
    }
</script>