<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Productos</h1>
            </div>                
        </div>            
        
        <h4><b>FILTROS</b></h4>
        <div class="panel panel-default">                        
            <div class="panel-body">                        
                <div class="row">
                    <div class="col-lg-2">
                        <label for="">Referencia</label>
                        <input name="reference" id="reference" class="form-control" value=""> 
                    </div>

                    <div class="col-lg-4">
                        <label for="">Nombre</label>
                        <input name="name" id="name" class="form-control" value=""> 
                    </div>

                    <div class="col-lg-3">
                        <label for="">Categoría</label>
                        <select name="categoryId" id="categoryId" class="form-control">
                            <option value="">Seleccione una categoría</option>      
                            <option v-for="category in categories" v-bind:value="category.id">{{ category.description }}</option> 
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <label for="">Estado</label>
                        <select name="statusId" id="statusId" class="form-control">
                            <option value="">Seleccione un estado</option> 
                            <option v-for="status in statuses" v-bind:value="status.id">{{ status.description }}</option> 
                        </select> 
                    </div>
                </div>                    
            </div>                
        </div>            
        
        <div class="row">
            <div class="col-lg-12">                    
                <div class="pull-right mb-2">
                    <a class="btn btn-success" @click="createProduct()"><i class="fa fa-plus fa-lg"></i> Nuevo</a>
                    <a class="btn btn-info" @click="loadProducts()"><i class="fa fa-search fa-lg"></i> Buscar</a>
                </div>                                    
            </div>                
        </div>            
        
        <div class="panel panel-default">                        
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>                                        
                                        <th>Referencia</th>
                                        <th>Nombre</th>
                                        <th>Categoría</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                    <tr v-for="product in products" :key="product.id" v-bind:class="{'text-danger': product.status.key == 'not_available'}"> 
                                        <td><b>{{ product.reference }}</b></td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.category.description }}</td>
                                        <td>{{ product.amount }}</td>
                                        <td>{{ product.status.description }}</td>
                                        <td class="text-center"> 
                                            <router-link :to="{name: 'product.edit', params: { id: product.id }}" class="btn btn-success" title="Editar"><i class="fa fa-pencil-square-o fa-1x"></i></router-link> 
                                            <button class="btn btn-danger" @click="deleteProduct(product.id)" title="Eliminar"><i class="fa fa fa-trash fa-1x"></i></button> 
                                        </td>
                                    </tr>                                                                                                                
                                </tbody>
                            </table>
                        </div>                            
                    </div>
                </div>
            </div>                
        </div>            
    </div>        
    
</template>

<script>
    export default { 
        data() {
            return {
                products: [],
                categories: [],
                statuses: []
            }
        },
        methods: {
            async loadProducts() {                 
                const res = await axios.get('/api/products', {
                    params: this.axiosParams()
                });
                this.products = res.data;
            },
            createProduct(){
                this.$router.push({ name: 'product.create' })
            },
            deleteProduct(id) { 
                ConfirmMessage('', 'Se va a eliminar el producto, ¿está seguro?').then((r) => {
                    axios
                        .delete(`/api/product/${id}`)
                        .then(response => {
                            AlertMessage("", response.data.message).then((res) => {
                                if (response.data.success) {
                                    this.loadProducts();
                                }
                            });
                        }); 
                }); 
            },
            axiosParams() { 
                const params = new URLSearchParams();                

                if ($('#reference').val()) { 
                    params.append('reference', $('#reference').val());
                }

                if ($('#name').val()) { 
                    params.append('name', $('#name').val());
                }

                if ($('#categoryId').val()) { 
                    params.append('categoryId', $('#categoryId').val());
                }

                if ($('#statusId').val()) { 
                    params.append('statusId', $('#statusId').val());
                }
                                
                return params;
            }
        },        
        mounted() {
            this.loadProducts();

            axios
                .get(`/api/categories`)
                .then((res) => {
                    this.categories = res.data;
                });

            axios
                .get(`/api/statuses`, {
                    params: {
                        statusesKey: ['available', 'not_available']
                    }
                })
                .then((res) => {
                    this.statuses = res.data;
                });
        }
    }
</script>