<template>    
    <div class="container-fluid">            
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ client.name }}</h1>
            </div>                
        </div>                                    
        
        <form @submit.prevent="saveClient">
            <div class="row">                
                <ClientForm :client="client"></ClientForm>                
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar</button>
                    </div>                                    
                </div>
            </div>
        </form>
    </div>    
</template>

<script>
    import ClientForm from './form.vue';

    export default {          
        components: {
            ClientForm
        },
        data() {
            return {
                client: {}
            }
        },        
        methods: {
            saveClient() {                                
                axios
                    .put(`/api/client/${this.$route.params.id}`, this.client).then(response => {
                        AlertMessage("", response.data.message).then((res) => {
                            if (response.data.success) {
                                this.$router.push({ name: 'clients.index' });
                            }
                        }); 
                    })
                    .catch(err => console.log(err))
                    .finally(() => function () {});                                
            }
        },
        mounted() {            
            axios
                .get(`/api/client/${this.$route.params.id}`)
                .then((res) => {
                    this.client = res.data;
                });            
        }
    }
</script>