<template>
    <div class="panel panel-default">                        
        <div class="panel-body">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <label for="">Nombre</label>
                    <input name="name" id="name" class="form-control" v-model="client.name"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Persona Contacto</label>
                    <input name="contact_name" id="contact_name" class="form-control" v-model="client.contact_name"> 
                </div> 

                <div class="col-lg-3">
                    <label for="">Cif / Nif</label>
                    <input name="nif" id="nif" class="form-control" v-model="client.nif"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Estado</label>
                    <select name="status_id" id="status_id" class="form-control" v-model="client.status_id">
                        <option value="">Seleccione un estadp</option> 
                        <option v-for="status in statuses" v-bind:value="status.id" :selected="status.id == client.status_id">{{ status.description }}</option> 
                    </select> 
                </div>                
            </div> 

            <div class="row mb-2">
                <div class="col-lg-3">
                    <label for="">Email</label>
                    <input name="email" id="email" class="form-control" v-model="client.email"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Tel. Móvil</label>
                    <input name="movil" id="movil" class="form-control" v-model="client.movil"> 
                </div>
                
                <div class="col-lg-3">
                    <label for="">Teléfono</label>
                    <input name="phone" id="phone" class="form-control" v-model="client.phone"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Página Web</label>
                    <input name="web" id="web" class="form-control" v-model="client.web"> 
                </div>                            
            </div> 

            <div class="row mb-2">
                <div class="col-lg-3">
                    <label for="">País</label>
                    <input name="country" id="country" class="form-control" v-model="client.country"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Provincia</label>
                    <input name="province" id="province" class="form-control" v-model="client.province"> 
                </div>
                
                <div class="col-lg-6">
                    <label for="">Población</label>
                    <input name="city" id="city" class="form-control" v-model="client.city"> 
                </div>                            
            </div> 

            <div class="row mb-2">
                <div class="col-lg-9">
                    <label for="">Dirección</label>
                    <input name="address" id="address" class="form-control" v-model="client.address"> 
                </div>

                <div class="col-lg-3">
                    <label for="">Cod. Postal</label>
                    <input name="cp" id="cp" class="form-control" v-model="client.cp"> 
                </div>                           
            </div> 

            <div class="row mb-2">
                <div class="col-lg-12">
                    <label for="">Observaciones</label>                    
                    <textarea name="comments" id="comments" class="form-control" v-model="client.comments" rows="8"> </textarea>
                </div> 
            </div>
        </div>                    
    </div>
</template>

<script>
    export default {           
        props: [
            'client'
        ],     
        methods: {
            
        },        
        data() {
            return {                
                statuses: {}
            }
        }, 
        mounted() { 
            axios
                .get(`/api/statuses`, {
                    params: {
                        statusesKey: ['active', 'inactive']
                    }
                })
                .then((res) => {
                    this.statuses = res.data;
                });
        }
    }
</script>