<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Clientes</h1>
            </div>                
        </div>            
        
        <h4><b>FILTROS</b></h4>
        <div class="panel panel-default">                        
            <div class="panel-body">                        
                <div class="row mb-2"> 
                    <div class="col-lg-6">
                        <label for="">Nombre</label>
                        <input name="name" id="name" class="form-control" value=""> 
                    </div>
                    
                    <div class="col-lg-3">
                        <label for="">Cif / Nif</label>
                        <input name="cif" id="cif" class="form-control" value=""> 
                    </div>

                    <div class="col-lg-3">
                        <label for="">Email</label>
                        <input name="email" id="email" class="form-control" value=""> 
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-lg-3">
                        <label for="">Móvil</label>
                        <input name="movil" id="movil" class="form-control" value=""> 
                    </div>

                    <div class="col-lg-3">
                        <label for="">Provincia</label>
                        <input name="province" id="province" class="form-control" value=""> 
                    </div>

                    <div class="col-lg-3">
                        <label for="">Población</label>
                        <input name="city" id="city" class="form-control" value=""> 
                    </div>

                    <div class="col-lg-3">
                        <label for="">Estado</label>
                        <select name="statusId" id="statusId" class="form-control">
                            <option value="">Seleccione un estado</option> 
                            <option v-for="status in statuses" v-bind:value="status.id">{{ status.description }}</option> 
                        </select> 
                    </div>
                </div>                    
            </div>                
        </div>            
        
        <div class="row">
            <div class="col-lg-12">                    
                <div class="pull-right mb-2">
                    <a class="btn btn-success" @click="createClient()"><i class="fa fa-plus fa-lg"></i> Nuevo</a>
                    <a class="btn btn-info" @click="loadClients()"><i class="fa fa-search fa-lg"></i> Buscar</a>
                </div> 
            </div> 
        </div> 
        
        <div class="panel panel-default">                        
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr> 
                                        <th>Nombre</th>
                                        <th>Cif / Nif</th>
                                        <th>Email</th>
                                        <th>Móvil</th>
                                        <th>Provincia</th>
                                        <th>Población</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                    <tr v-for="client in clients" :key="client.id" v-bind:class="{'text-danger': client.status.key == 'inactive'}"> 
                                        <td>{{ client.name }}</td>
                                        <td>{{ client.nif }}</td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.movil }}</td>
                                        <td>{{ client.province }}</td>
                                        <td>{{ client.city }}</td>
                                        <td>{{ client.status.description }}</td>
                                        <td class="text-center"> 
                                            <router-link :to="{name: 'client.edit', params: { id: client.id }}" class="btn btn-success" title="Editar"><i class="fa fa-pencil-square-o fa-1x"></i></router-link> 
                                            <button class="btn btn-danger" @click="deleteClient(client.id)" title="Eliminar"><i class="fa fa fa-trash fa-1x"></i></button> 
                                        </td>
                                    </tr>                                                                                                                
                                </tbody>
                            </table>
                        </div>                            
                    </div>
                </div>
            </div>                
        </div>            
    </div>        
    
</template>

<script>
    export default { 
        data() {
            return {
                clients: [], 
                statuses: []
            }
        },
        methods: {
            async loadClients() {                 
                const res = await axios.get('/api/clients', {
                    params: this.axiosParams()
                });
                this.clients = res.data;
            },
            createClient(){
                this.$router.push({ name: 'client.create' })
            },
            deleteClient(id) { 
                ConfirmMessage('', 'Se va a eliminar el cliente, ¿está seguro?').then((r) => {
                    axios
                        .delete(`/api/client/${id}`)
                        .then(response => {
                            AlertMessage("", response.data.message).then((res) => {
                                if (response.data.success) {
                                    this.loadClients();
                                }
                            });
                        }); 
                }); 
            },
            axiosParams() { 
                const params = new URLSearchParams();                
                
                if ($('#name').val()) { 
                    params.append('name', $('#name').val());
                }
                
                if ($('#cif').val()) { 
                    params.append('cif', $('#cif').val());
                }

                if ($('#email').val()) { 
                    params.append('email', $('#email').val());
                }

                if ($('#movil').val()) { 
                    params.append('movil', $('#movil').val());
                }

                if ($('#province').val()) { 
                    params.append('province', $('#province').val());
                }

                if ($('#city').val()) { 
                    params.append('city', $('#city').val());
                }

                if ($('#statusId').val()) { 
                    params.append('statusId', $('#statusId').val());
                }
                                
                return params;
            }
        },        
        mounted() {
            this.loadClients();
            
            axios
                .get(`/api/statuses`, {
                    params: {
                        statusesKey: ['active', 'inactive']
                    }
                })
                .then((res) => {
                    this.statuses = res.data;
                });
        }
    }
</script>